ngx-gallery /deep/ .ngx-gallery-arrow {
    color: white;
    background-color: transparent;
}

.carousel-main{
    background-color:black;
    padding: 3em 0 2em 0;
}

#photo-carousel-banner h1{
    text-shadow: 2px 2px #026873;
}
