.hero-wrap {
    text-align: center;
    background-image: url("../../assets/img/ares-bg-1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
}

.hero-wrap .container {
    padding-top: 250px !important;
    padding-bottom: 250px !important;
}

@media screen and (max-width: 600px) {
    .hero-wrap .container {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
}