#photo-banner{
    color: #63E4F2;
    padding-bottom: 1em;
    background-color: #038C8C;
}

.photo-carousel-img{
    width: 100%;
    display: block;
}

/* .basic-container{
    width: 80vw;
} */

ngx-gallery /deep/ .ngx-gallery-arrow {
    color: #026873;
    background-color: azure;
}

#photo-card-gallery{
    padding: 1em;
    background-color: #C5CCD9;
}

.card img{
    width: 100%;
}

#photo-carousel{
    background-color:#012326;
}

.card{
    box-shadow: 10px 10px 5px #9BB1BF;
}



carousel{
    width: 60vw;
}


/* .carousel-main{
    width: 70vw;
    margin: auto;
} */