/* Color Theme Swatches in Hex */
.The-Iceberg-Series-II-1-hex { color: #9BB1BF; }
.The-Iceberg-Series-II-2-hex { color: #026873; }
.The-Iceberg-Series-II-3-hex { color: #012326; }
.The-Iceberg-Series-II-4-hex { color: #04BFBF; }
.The-Iceberg-Series-II-5-hex { color: #038C8C; }

/* Color Theme Swatches in Hex */
.Dark-blue-ocean-surface-seen-from-underwater-1-hex { color: #195973; }
.Dark-blue-ocean-surface-seen-from-underwater-2-hex { color: #3BA7BF; }
.Dark-blue-ocean-surface-seen-from-underwater-3-hex { color: #053A40; }
.Dark-blue-ocean-surface-seen-from-underwater-4-hex { color: #63E4F2; }
.Dark-blue-ocean-surface-seen-from-underwater-5-hex { color: #66D9D9; }

/* Color Theme Swatches in Hex */
.Aerial-view-to-ocean-waves.-Blue-water-background-1-hex { color: #C5CCD9; }
.Aerial-view-to-ocean-waves.-Blue-water-background-2-hex { color: #8FADBF; }
.Aerial-view-to-ocean-waves.-Blue-water-background-3-hex { color: #011C26; }
.Aerial-view-to-ocean-waves.-Blue-water-background-4-hex { color: #024959; }
.Aerial-view-to-ocean-waves.-Blue-water-background-5-hex { color: #026873; }

