<section id="home-banner"class="bg-dark text-center">
    <div class="container d-flex align-items-center flex-column">

      <!--  Avatar Image -->
      <img class="header-img" src="assets/img/gc_eln.jpg" alt="">

      <!--  Heading -->
      <h1 class="text-uppercase mb-0">Edward L. Natividad Jr.</h1>

      
      <!-- Masthead Subheading -->
      <p class="font-weight-dark mb-0">Software Developer - Ameteur Photographer</p>

    </div>
  </section>
<section id="about" class="text-center">
    <div id="about-copy" class="container d-flex align-items-center flex-column">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-dark mb-4">About Me</h2>
          <p class="text-dark">Welcome to my page. I consider myself an energetic software developer creating robust code for high-volume businesses in retail, banking and manufacturing. 
            Passionate about Agile processes and methodologies, an enthusiastic team player, and a deep creative thinker.</p>
            <p class="text-dark">In my spare time, I am trying to become a better photographer. Some of my favorite types of photos I like to take are scenic/nature photos. My idol would be Ansel Adams.
            </p>
        </div>
      </div>
      
    </div>
  </section>