.header-img {
    width: 100%;
    box-shadow: 0 5px 10px -2px #012326;
}

.hero-wrap {
    text-align: center;
    background-image: url("../../assets/img/hero_banner_1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    height: 60vw;
}

.hero-wrap .container {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.hero-wrap .container img {
    padding-top: 10px;
    width: 30%;
    border-radius: 50%;
}

.about-copy {
    box-shadow: 0 5px 10px -2px #9BB1BF;
}

.about {
    background-color: white;
    padding: 2em;
}

@media screen and (max-width: 600px) {
    .hero-wrap .container {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
    .hero-wrap {
        text-align: center;
        background-image: url("../../assets/img/hero_banner_1.jpg");
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
        height: 100vw;
    }
}